$primary: #134074;
$secondary: #13315c;
$dark: #0b2545;
$info: #8da9c4;
$light: #eef4ed;

// $custom-colors: (
//     "blue": #134074,
//     "secondary": #13315c,
//     "dark": #0b2545,
//     "light": #8da9c4,
//     "white": #eef4ed,
// );

// $theme-colors: map-merge($theme-colors, $custom-colors);