$primary: #134074;
$secondary: #13315c;
$dark: #0b2545;
$info: #8da9c4;
$light: #eef4ed;

// Body
$body-bg: #eef4ed;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
