.c-availability {
    position: absolute;
    top: 10px;
    left: 10px;
    &__badge {
        width: 10px;
        height: 10px;
        &--dev {
            background-color: orange;
        }
        &--up {
            background-color: greenyellow;
        }
        &--down {
            background-color: red;
        }
    }
}