::selection {
    background-color: var(--bs-indigo);
    border-radius: 7px;
}

::-webkit-scrollbar {
    width: 10px;
    background: var(--bs-primary);
  }
  
::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--bs-secondary); 
    border-radius: 10px;
    transition: all .5s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--bs-info); 
}

canvas {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
}