.c-levels {
    height: 10px;
    border-radius: 7px;
    background: var(--bs-indigo);
    margin-bottom: 25px;
    border: 2px solid var(--bs-dark);
    &__php {
        width: 85%;
    }

    &__js {
        width: 65%;
    }

    &__sql {
        width: 40%;
    }
}