.c-searchBar {
    position: relative;
    input {
        background: var(--bs-dark);
        border: 1px solid var(--bs-primary);
        border-radius: 7px;
        width: 350px;
        transition: all .5s ease;
        outline: none;
        padding: 5px 15px;
        font-size: 14px;
        color: var(--bs-light);
        text-align: center;
        &::placeholder {
            font-size: 14px;
            color: var(--bs-gray);
            font-style: italic;
            text-align: center;
        }
        &:focus {
            border-color: var(--bs-indigo);
        }
    }
}